/* Monochrome GTK colors */

@define-color accent_color #e0e0e0;
@define-color accent_fg_color #1a1a1a;
@define-color accent_bg_color #e0e0e0;
@define-color window_bg_color #1a1a1a;
@define-color window_fg_color #b0b0b0;
@define-color headerbar_bg_color #1a1a1a;
@define-color headerbar_fg_color #b0b0b0;
@define-color popover_bg_color #121212;
@define-color popover_fg_color #b0b0b0;
@define-color view_bg_color #0a0a0a;
@define-color view_fg_color #b0b0b0;
@define-color card_bg_color #0a0a0a;
@define-color card_fg_color #b0b0b0;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
