/* Everforest GTK colors */

@define-color accent_color #A7C080;
@define-color accent_fg_color #374145;
@define-color accent_bg_color #A7C080;
@define-color window_bg_color #374145;
@define-color window_fg_color #F2EFDF;
@define-color headerbar_bg_color #374145;
@define-color headerbar_fg_color #F2EFDF;
@define-color popover_bg_color #2E383C;
@define-color popover_fg_color #F2EFDF;
@define-color view_bg_color #272E33;
@define-color view_fg_color #F2EFDF;
@define-color card_bg_color #272E33;
@define-color card_fg_color #F2EFDF;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
