/* Catppuccin GTK colors */

@define-color accent_color #b4befe;
@define-color accent_fg_color #1e1e2e;
@define-color accent_bg_color #b4befe;
@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;
@define-color headerbar_bg_color #1e1e2e;
@define-color headerbar_fg_color #cdd6f4;
@define-color popover_bg_color #313244;
@define-color popover_fg_color #cdd6f4;
@define-color view_bg_color #181825;
@define-color view_fg_color #cdd6f4;
@define-color card_bg_color #181825;
@define-color card_fg_color #cdd6f4;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
