.notification {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  background: alpha(@bg0, 0.6);
  color: @bg0;
  border: 2px solid alpha(@bg0, 0.1);
  border-radius: 8px;
  padding: 12px;
}

.notification image {
  margin-right: 22px;
}

.body {
  color: @fg;
}

.summary {
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  color: @fg;
  text-shadow: none;
  margin-bottom: 4px;
}

.time {
  font-size: 12px;
  font-weight: 200;
  background: transparent;
  color: @fg;
  text-shadow: none;
  margin-top: 4px; /* vertical centering for smaller font */
  margin-left: 8px; /* spacing from summary */
}

.close-button {
  background-color: transparent;
  color: @fg;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @accent;
  background: transparent;
}

.notification.critical progress {
  background-color: @error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent;
}
