@import "colors/colors.css";

window#osd {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  background: lighter(@bg0);
  font-size: 13px;
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image {
  color: @accent;
}

window#osd label {
  color: @fg;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @bg-bright;
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @accent-fixed;
}
