/* Nord GTK colors */

@define-color accent_color #88c0d0;
@define-color accent_fg_color #2e3440;
@define-color accent_bg_color #88c0d0;
@define-color window_bg_color #434c5e;
@define-color window_fg_color #eceff4;
@define-color headerbar_bg_color #434c5e;
@define-color headerbar_fg_color #eceff4;
@define-color popover_bg_color #4c566a;
@define-color popover_fg_color #eceff4;
@define-color view_bg_color #3b4252;
@define-color view_fg_color #eceff4;
@define-color card_bg_color #3b4252;
@define-color card_fg_color #eceff4;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
