@import "colors/colors.css";

/* --- Base Styling --- */
* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu Nerd Font Propo";
  font-size: 12px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: @bg0;
}

/* --- Tooltip Styling --- */

tooltip {
  background: @bg0;
  color: @fg;
  border: 1px solid @border;
  border-radius: 10px;
}
tooltip label {
  color: @fg;
}

/* --- Left Modules --- */

#custom-notification {
  color: @fg;
  margin-left: 14px;
  margin-right: 10px;
}

#custom-separator:hover {
  color: @accent;
  transition: all 0.4s ease-in-out;
}

#custom-kb_layout,
#custom-separator,
#misc-modules {
  color: @fg;
  margin: 0 10px;
}

#cpu,
#memory {
  color: @fg;
  margin: 0 10px;
}

/* --- Center Modules --- */

#workspaces button {
  color: @bg1;
  transition: all 0.4s ease-in-out;
  background-color: @bg0;
  margin: 0 4px;
  min-height: 6px;
  min-width: 10px;
}

#workspaces button.active {
  color: @accent;
}

#workspaces button:hover {
  color: lighter(@border);
  transition: all 0.4s ease-in-out;
}

/* --- Right Side --- */

#bluetooth,
#network,
#battery {
  margin: 0 10px;
  color: @fg;
}

#clock {
  color: @accent;
  margin-right: 14px;
  margin-left: 10px;
}

#pulseaudio {
  border-radius: 5px;
  margin: 0 10px;
  color: @fg;
}

#pulseaudio-slider {
  margin: 0 10px;
  padding: 5px 0;
}

#pulseaudio-slider slider {
  border-radius: 4px;
  min-height: 8px;
  min-width: 8px;
}

#pulseaudio-slider trough {
  background-color: @bg-bright;
  min-width: 100px;
  min-height: 4px;
  border-radius: 10px;
}

#pulseaudio-slider highlight {
  background-color: @accent;
  min-height: 4px;
  border-radius: 10px;
}
